body {
  font: 13.3333px Myriad Pro,arial,sans-serif;
}

.div-main {
  background-color: #F5F5F5;
  padding: 32px 40px 30px 40px;
}

.div-editor {
  background-color: #FFFFFF;
  border-top: 1px solid #CCCCCC;
  height: 93px;
  overflow: overlay;
  padding: 3px 5px;
}

.span-chip {
  margin: 2px;
  background-color: #D9E8FF;
  padding: 4px 8px 4px 8px;
  border-radius: 12px;
  display: inline-block;
}

.no-valid-email {
  margin: 2px;
  padding: 4px 0px 4px 0px;
  display: inline-block;
  border-bottom: 2px dotted #d14836;
}

.div-in-chip {
  display: inline-block;
  margin: 0px 2px 0px 2px;
}

.el-close {
  cursor: pointer;
}

.my-ta {
  display: inline-block;
  margin: 8px 4px 0 4px;
  vertical-align: middle;
  background: none;
  border: 0;
  font: 13.3333px Myriad Pro,arial,sans-serif;
  height: 23px;
  outline: 0;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0 0 0 5px;
  position: relative;
  resize: none;
}

.email-header {
  font-size: 20px;
  font-weight: normal;
  margin-bottom: 34px;
}

.buttons-div {
  margin-left: 40px;
  margin-top: 12px;
}

button {
    background-color: #6699ff;
    border-radius: 2px;
    border: none;
    color: #FFFFFF;
    padding: 9px 10px 6px 10px;
    margin-right: 16px;
    font-family: myriad pro,arial,sans-serif;
}
