<html>
  <head>
    <link rel="stylesheet" href="css/style.css" />
    <script src="Scripts/angular.min.js"></script>
    <script src="Scripts/main.js"></script>
  </head>
  <body ng-app="testModel">
    <div ng-controller="emailsEditorController">
      <div class="div-main">
        <div class="email-header">Share "Board name" with others</div>
        <emails-editor items="items"></emails-editor>
      </div>
      <br>
      <div class="buttons-div">
          <button ng-click="addEmails()">Add random email</button>
          <button ng-click="getEmailsCount()">Get emails count</button>
      </div>
    </div>
  </body>
</html>
