<div class="div-editor">
    <span>
        <!-- <span ng-repeat="item in items" ng-class="{'no-valid-email': !item.valid, 'span-chip': item.valid }"> -->
        <span ng-repeat="item in items track by $index" ng-class="emailBlockStyle(item)">
            <div class="div-in-chip">{{item}}</div>
            <div class="div-in-chip el-close" ng-click="deleteEmail(item)">x</div>
        </scope>
    </span>
    <textarea ng-model="email"
              class="my-ta"
              placeholder="add more people ..."
              ng-keydown="keypress($event)"></textarea>
</div>
